.home-wrapper {
  display: flex;
  min-height: 100vh;
}

.editor-wrapper {
  flex: 0 0 35%; // takes 35% of width, no shrink
  height: 100vh;
  overflow: auto;
}

.diagram-renderer-wrapper {
  flex: 1; // takes remaining width
  height: 100vh;
  overflow: auto;
  display: block;
  min-height: 300px;
  padding: 1rem;
  background-color: #fff;
}
